[Unit]
Description         = Tezos Node Service
Wants               = network-online.target
After               = network-online.target

[Service]
User                = romarq
Group               = romarq
WorkingDirectory    = /mnt/disks/d1
ExecStart           = /mnt/disks/d1/tezos-binaries/tezos-node run --rpc-addr 127.0.0.1:8732 --data-dir /mnt/disks/d1/.tezos-node --cors-origin="*" --cors-header="Content-Type" --history-mode=archive
Restart             = on-failure

[Install]
WantedBy            = multi-user.target
