# Ignore everything
/*
# BUT
!.gitignore
!.boto
!LICENSE
!README.md
!main.tf
!dns.tf
!mainnet_machine.tf
!hangzhounet_machine.tf
!ithacanet_machine.tf
!variables.tf
!jakartanet_machine.tf
!aws.tf
!scripts
!scripts/**
